<row class="header">
   <!-- <center>
      
   </center> -->
   <columns>
      <center>
         <img src="https://i.ibb.co/dDkLsLd/linkedin-white-circle.png" alt="linkedin-white-circle" border="0">
      </center>      
   </columns>
   <columns>
      <center>
         <img src="https://i.ibb.co/xHnyZtY/link-white-circle.png" alt="link-white-circle" border="0">
      </center>
      
   </columns>
   <columns>
      <center>
         <img src="https://i.ibb.co/hYkG62F/instagram-white-circle.png" alt="instagram-white-circle" border="0">
      </center>
   </columns>
   <columns>
      <center>
         <img src="https://i.ibb.co/HTwgywV/facebook-white-circle.png" alt="facebook-white-circle" border="0">
      </center>
      
   </columns>
      
</row>
<row>
   <h1 class="text-center">Dog Groomers inc.</h1>
</row>